<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @visitor.nickname %>
</p>

<p>
  <strong>Code:</strong>
  <%= @visitor.code %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @visitor.logo %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
